
<h1 style="margin-top: 10%;"> </h1>
<div container class="container"; style="text-align: center;">
   <h1 style="text-align: left;"><%= @genre.name %></h1>
   <div container class="container"; style="text-align: center; background-image: url(<%= @genre.image %>)">
      <img src=<%=@genre.image%> style="width: 300px;  border-radius: 75%;"/>
   </div>
</div>

<div style="margin-left: 7%">
   <h2> <%= @genre.name%> Songs </h2>
   <% @genre.songs.each do |song| %>
      <ul>
      <li><%= song.name %></li>
      <td><button type="button" class="btn btn-dark"> <a rel="nofollow" data-method="post" href="/favorite_song/<%=song.id%>%" style="color: white;">favorite</a> </button> </td> 
      </ul>
      <% end %>
      
   <h5> All the other genres:<br> </h5>
   <% Genre.all.each do |genre| %>
         
   <%= link_to genre.name, genre_path(genre)%><br>
         
   <%end %>
</div>


    
