<h1 style="margin-top: 10%;"><%= @genre.name %> </h1>

<h1>Songs of <%=@genre.name%></h1>
<% @genre.songs.each do |song| %>
   <ul>
   <li><%= song.name %></li>
   <td><button type="button" class="btn btn-dark"> <a rel="nofollow" data-method="post" href="/favorite_song/<%=song.id%>%" style="color: white;">favorite</a> </button> </td> 
   </ul>
   <% end %>
   
<h5> All the other genres:<br> </h5>
<% Genre.all.each do |genre| %>
        
<%= link_to genre.name, genre_path(genre)%><br>
        
<%end %>



    
