

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <% if flash.now[:message]%>
    <h4 style="color: white;"> <%= flash.now[:message] %> </h4>
    <%end%>
 
  <h6 style="color: white; text-align: right"><a style="color: white" href="/users/new">Register</a>

    <div class="home-video-wrapper">
        <%= video_tag "login_video.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video"%>
            <div class= "form_div" >
                <%= form_tag "/sessions" do %>
                <h6 style="color: white">Name: <%= text_field_tag "name" %></h6>
                <h6 style="color: white">Password:  <%= password_field_tag "password"%></h6>
                <%= submit_tag "Login"%>
                <% end %>
            </div>
    </div>
    