
<html style="background: black; background-image: url(https://images4.alphacoders.com/927/thumb-1920-927576.jpg)">

    <% if flash.now[:message]%>
    <h4 style="color: white;"> <%= flash.now[:message] %> </h4>
    <%end%>

    <div style="text-align: center; margin-top: 25%">
        <h5 style="color: white;">
        <%= form_tag "/sessions" do %>
        Name: <%= text_field_tag "name" %>
        Password:  <%= password_field_tag "password"%>
        <%= submit_tag "Login"%>
        </h5>
        <% end %>
        <h6 style="color: white;"><%= link_to "Register", new_user_path%> </h6>
    </div>