<<<<<<< HEAD

<html style="background: blue;">
<h1> New user signup</h1>
<%= form_for @user do |f| %>
    
  Name: <%= f.text_field :name %><br>
  Password: <%= f.text_field :password %><br>
  <%= f.submit "Create New User" %>

=======
<html style="background: black;">
    <div style="text-align: center;">
        <h5  style="color: white;"><%= form_for @user do |f| %>
            Name <%= f.text_field :name %>
            Password  <%= f.password_field :password%>
            <%= f.submit "Create New User" %>
        </h5>
    <div>
>>>>>>> 27fe0be06188bbbe7d0f773ad4883971bdc9310a
<% end %>




