 <% if flash.now[:message]%>
    <h4 style="color: white;"> <%= flash.now[:message] %> </h4>
    <%end%>
    
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>


    <div class="home-video-wrapper">
        <%= video_tag "login_video.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video"%>
            <div class= "form_div" >
                 <%= form_for @user do |f| %>
                    <h6 style="color: white"> Name <%= f.text_field :name %> </h6>
                    <h6 style="color: white"> Password  <%= f.password_field :password%> </h6>
                    <%= f.submit "Create New User" %>
                <%end%>
            </div>
    </div>




