<h1> <%= @user.name %>'s Favorites </h1>

<% @user.favorites.each do |fav|%>
 <table>
    <tr>
      <%= Song.find(fav.song_id).name %> |
      <%= Genre.find(Song.find(fav.song_id).genre_id).name %> |
      <%= Artist.find(Song.find(fav.song_id).artist_id).name %> |
      <%= button_to "Unfavorite", fav, method: "delete"%>
    </tr>
</table>
<% end %>

 <h4>Search by Song:</h4>
   <%= form_tag(songs_path, method: "get") do %>
   <%= text_field_tag(:search, params[:search]) %>
   <%= submit_tag "Search" %>
   <% end %>

