<h1 style="margin-top: 5%;"> 
<%= @user.name %>'s Favorites 
</h1>

<% if flash[:message] %>
  <h3 style="color: red"><%= flash[:message]%></h3>
<% end %>


<h5>Search by Song:</h5>
  <%= form_tag(songs_path, method: "get") do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag "Search", name: "nil", placeholder: "enter song title"%>
  <% end %>

  <h5>Search by Artist:</h5>
  <%= form_tag(songs_path, method: "get") do %>
  <%= text_field_tag(:artist_search, params[:artist_search]) %>
  <%= submit_tag "Search", name: "nil"%>
  <% end %> 

  <h5>Search by Genre:</h5>
  <%= form_tag(songs_path, method: "get") do %>
  <%= text_field_tag(:genre_search, params[:genre_search]) %>
  <%= submit_tag "Search", name: "nil"%>
  <% end %> 

<br>
<br>

<% @user.favorites.each do |fav|%>
 <table>
    <tr>
      <%= Song.find(fav.song_id).name %> |
      <%= Genre.find(Song.find(fav.song_id).genre_id).name %> |
      <%= Artist.find(Song.find(fav.song_id).artist_id).name %> |
      <%= button_to "Unfavorite", fav, method: "delete"%>
    </tr>
</table>

<% end %>





