
  <h1 style="margin-top: 5%;
">Songs</h1>
  <br>
  <br>
  <h5>Search by Song:</h5>
    <%= form_tag(songs_path, method: "get") do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag "Search", name: "nil" %>
    <% end %>

    <h5>Search by Artist:</h5>
    <%= form_tag(songs_path, method: "get") do %>
    <%= text_field_tag(:artist_search, params[:artist_search]) %>
    <%= submit_tag "Search", name: "nil"%>
    <% end %> 

    <h5>Search by Genre:</h5>
    <%= form_tag(songs_path, method: "get") do %>
    <%= text_field_tag(:genre_search, params[:genre_search]) %>
    <%= submit_tag "Search", name: "nil"%>
    <% end %> 

    <br>
    <br>  

  <% @songs.each do |song| %>
    <%= song.name %>
    <table>
      <tr>
        <%= link_to song.artist.name, artist_path(song.artist_id) %> |
        <%= link_to song.genre.name, genre_path(song.genre_id) %> |
        <%= button_to 'favorite', song_favorite_path(song), method: "post" %> 
      </tr>
    </table>
  <% end %>



   