<h1>Songs</h1>
<%=link_to "Profile Page", user_path(@user) %>
<br>
<br>
 <h4>Search by Song:</h4>
   <%= form_tag(songs_path, method: "get") do %>
   <%= text_field_tag(:search, params[:search]) %>
   <%= submit_tag "Search" %>
   <% end %>

<% @songs.each do |song| %>
   <%= song.name %>
   <table>
    <tr>
      <%= link_to song.genre.name, genre_path(song.genre_id) %> |
      <%= link_to song.artist.name, artist_path(song.artist_id) %> |
      <%= button_to 'favorite', song_favorite_path(song), method: "post" %> 
    </tr>
   </table>
 <% end %>



   